[colors]
# base16 Github Light Colorblind
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #454c54
foreground_bold     = #454c54
cursor              = #454c54
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #ffffff # base00 - Black
color1  = #bc4c00 # base08 - Red
color2  = #0550ae # base0B - Green
color3  = #9a6700 # base0A - Yellow
color4  = #0969da # base0D - Blue
color5  = #8250df # base0E - Magenta
color6  = #1b7c83 # base0C - Cyan
color7  = #454c54 # base05 - White
color8  = #818b98 # base03 - Bright Black
color9  = #bc4c00 # base08 - Bright Red
color10 = #0550ae # base0B - Bright Green
color11 = #9a6700 # base0A - Bright Yellow
color12 = #0969da # base0D - Bright Blue
color13 = #8250df # base0E - Bright Magenta
color14 = #1b7c83 # base0C - Bright Cyan
color15 = #1f2328 # base07 - Bright White
color16 = #953800 # base09
color17 = #953800 # base0F
color18 = #f6f8fa # base01
color19 = #d1d9e0 # base02
color20 = #59636e # base04
color21 = #25292e # base06
