[colors]
# base16 Serendipity Midnight
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #dee0ef
foreground_bold     = #dee0ef
cursor              = #dee0ef
cursor_foreground   = #151726
background          = #151726

color0  = #151726 # base00 - Black
color1  = #ee8679 # base08 - Red
color2  = #5ba2d0 # base0B - Green
color3  = #a78bfa # base0A - Yellow
color4  = #94b8ff # base0D - Blue
color5  = #a78bfa # base0E - Magenta
color6  = #f8d2c9 # base0C - Cyan
color7  = #dee0ef # base05 - White
color8  = #6b6d7c # base03 - Bright Black
color9  = #ee8679 # base08 - Bright Red
color10 = #5ba2d0 # base0B - Bright Green
color11 = #a78bfa # base0A - Bright Yellow
color12 = #94b8ff # base0D - Bright Blue
color13 = #a78bfa # base0E - Bright Magenta
color14 = #f8d2c9 # base0C - Bright Cyan
color15 = #151726 # base07 - Bright White
color16 = #ee8679 # base09
color17 = #5ba2d0 # base0F
color18 = #1c1e2d # base01
color19 = #1c1e2d # base02
color20 = #8d8f9e # base04
color21 = #dee0ef # base06
