[colors]
# base16 Oslo
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #abb2bf
foreground_bold     = #abb2bf
cursor              = #abb2bf
cursor_foreground   = #3f4451
background          = #3f4451

color0  = #3f4451 # base00 - Black
color1  = #e05561 # base08 - Red
color2  = #8cc265 # base0B - Green
color3  = #d18f52 # base0A - Yellow
color4  = #4aa5f0 # base0D - Blue
color5  = #c162de # base0E - Magenta
color6  = #42b3c2 # base0C - Cyan
color7  = #abb2bf # base05 - White
color8  = #6c727f # base03 - Bright Black
color9  = #e05561 # base08 - Bright Red
color10 = #8cc265 # base0B - Bright Green
color11 = #d18f52 # base0A - Bright Yellow
color12 = #4aa5f0 # base0D - Bright Blue
color13 = #c162de # base0E - Bright Magenta
color14 = #42b3c2 # base0C - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #d8725a # base09
color17 = #a26257 # base0F
color18 = #474c59 # base01
color19 = #4c515e # base02
color20 = #7a808e # base04
color21 = #bcc1cc # base06
