[colors]
# base16 X
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #f7f1ff
foreground_bold     = #f7f1ff
cursor              = #f7f1ff
cursor_foreground   = #050505
background          = #050505

color0  = #050505 # base00 - Black
color1  = #fc618d # base08 - Red
color2  = #7bd88f # base0B - Green
color3  = #fce566 # base0A - Yellow
color4  = #fd9353 # base0D - Blue
color5  = #948ae3 # base0E - Magenta
color6  = #5ad4e6 # base0C - Cyan
color7  = #f7f1ff # base05 - White
color8  = #6b686e # base03 - Bright Black
color9  = #fc618d # base08 - Bright Red
color10 = #7bd88f # base0B - Bright Green
color11 = #fce566 # base0A - Bright Yellow
color12 = #fd9353 # base0D - Bright Blue
color13 = #948ae3 # base0E - Bright Magenta
color14 = #5ad4e6 # base0C - Bright Cyan
color15 = #f7f1ff # base07 - Bright White
color16 = #fca37a # base09
color17 = #a66c51 # base0F
color18 = #161616 # base01
color19 = #222123 # base02
color20 = #8a878e # base04
color21 = #f9f4ff # base06
