[colors]
# base24 London
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #333333
foreground_bold     = #333333
cursor              = #333333
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #ffffff # base00 - Black
color1  = #333333 # base08 - Red
color2  = #444444 # base0B - Green
color3  = #555555 # base0A - Yellow
color4  = #666666 # base0D - Blue
color5  = #777777 # base0E - Magenta
color6  = #888888 # base0C - Cyan
color7  = #333333 # base05 - White
color8  = #333333 # base03 - Bright Black
color9  = #444444 # base12 - Bright Red
color10 = #555555 # base14 - Bright Green
color11 = #666666 # base13 - Bright Yellow
color12 = #777777 # base16 - Bright Blue
color13 = #888888 # base17 - Bright Magenta
color14 = #999999 # base15 - Bright Cyan
color15 = #aaaaaa # base07 - Bright White
color16 = #444444 # base09
color17 = #303030 # base0F
color18 = #f1f1f1 # base01
color19 = #e7e7e7 # base02
color20 = #7a7a7a # base04
color21 = #242424 # base06
