[colors]
# base24 Ayu Light
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #cbcbcb
foreground_bold     = #cbcbcb
cursor              = #cbcbcb
cursor_foreground   = #fafafa
background          = #fafafa

color0  = #000000 # base01 - Black
color1  = #ff3333 # base08 - Red
color2  = #86b300 # base0B - Green
color3  = #73d8ff # base0A - Yellow
color4  = #41a6d9 # base0D - Blue
color5  = #f07178 # base0E - Magenta
color6  = #4dbf99 # base0C - Cyan
color7  = #ffffff # base06 - White
color8  = #323232 # base02 - Bright Black
color9  = #ff6565 # base12 - Bright Red
color10 = #b8e532 # base14 - Bright Green
color11 = #ffc94a # base13 - Bright Yellow
color12 = #73d8ff # base16 - Bright Blue
color13 = #ffa3aa # base17 - Bright Magenta
color14 = #7ff1cb # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #f29718 # base09
color17 = #7f1919 # base0F
color18 = #000000 # base01
color19 = #323232 # base02
color20 = #989898 # base04
color21 = #ffffff # base06
