[colors]
# base16 Sequoia Moonlight Light
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #282930
foreground_bold     = #282930
cursor              = #282930
cursor_foreground   = #edeef2
background          = #edeef2

color0  = #edeef2 # base00 - Black
color1  = #c94da8 # base08 - Red
color2  = #4a85d4 # base0B - Green
color3  = #6a6a78 # base0A - Yellow
color4  = #9a5fd9 # base0D - Blue
color5  = #6a6a78 # base0E - Magenta
color6  = #d9884a # base0C - Cyan
color7  = #282930 # base05 - White
color8  = #565760 # base03 - Bright Black
color9  = #c94da8 # base08 - Bright Red
color10 = #4a85d4 # base0B - Bright Green
color11 = #6a6a78 # base0A - Bright Yellow
color12 = #9a5fd9 # base0D - Bright Blue
color13 = #6a6a78 # base0E - Bright Magenta
color14 = #d9884a # base0C - Bright Cyan
color15 = #0f1014 # base07 - Bright White
color16 = #c94da8 # base09
color17 = #4a85d4 # base0F
color18 = #e2e3e8 # base01
color19 = #e2e3e8 # base02
color20 = #42434e # base04
color21 = #282930 # base06
