[colors]
# base16 Madrid
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #1a1a1a
foreground_bold     = #1a1a1a
cursor              = #1a1a1a
cursor_foreground   = #fafafa
background          = #fafafa

color0  = #fafafa # base00 - Black
color1  = #990026 # base08 - Red
color2  = #007a28 # base0B - Green
color3  = #8a6408 # base0A - Yellow
color4  = #007a9e # base0D - Blue
color5  = #4d2699 # base0E - Magenta
color6  = #007a9e # base0C - Cyan
color7  = #1a1a1a # base05 - White
color8  = #4d4d4d # base03 - Bright Black
color9  = #990026 # base08 - Bright Red
color10 = #007a28 # base0B - Bright Green
color11 = #8a6408 # base0A - Bright Yellow
color12 = #007a9e # base0D - Bright Blue
color13 = #4d2699 # base0E - Bright Magenta
color14 = #007a9e # base0C - Bright Cyan
color15 = #1a1a1a # base07 - Bright White
color16 = #923217 # base09
color17 = #662310 # base0F
color18 = #eaeaea # base01
color19 = #dfdfdf # base02
color20 = #686868 # base04
color21 = #121212 # base06
