[colors]
# base24 Gruvbox Dark
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #91816c
foreground_bold     = #91816c
cursor              = #91816c
cursor_foreground   = #1d1d1d
background          = #1d1d1d

color0  = #1d1d1d # base01 - Black
color1  = #be0e17 # base08 - Red
color2  = #868715 # base0B - Green
color3  = #709585 # base0A - Yellow
color4  = #377274 # base0D - Blue
color5  = #9f4b73 # base0E - Magenta
color6  = #568d57 # base0C - Cyan
color7  = #978771 # base06 - White
color8  = #7f7060 # base02 - Bright Black
color9  = #f63028 # base12 - Bright Red
color10 = #a9b01d # base14 - Bright Green
color11 = #f7b024 # base13 - Bright Yellow
color12 = #709585 # base16 - Bright Blue
color13 = #c76f89 # base17 - Bright Magenta
color14 = #7db568 # base15 - Bright Cyan
color15 = #e5d3a2 # base07 - Bright White
color16 = #cc871a # base09
color17 = #5f070b # base0F
color18 = #1d1d1d # base01
color19 = #7f7060 # base02
color20 = #8b7b68 # base04
color21 = #978771 # base06
