[colors]
# base24 Helsinki
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #544d40
foreground_bold     = #544d40
cursor              = #544d40
cursor_foreground   = #f8fafe
background          = #f8fafe

color0  = #f8fafe # base00 - Black
color1  = #1faa9e # base08 - Red
color2  = #733d9a # base0B - Green
color3  = #2e70ad # base0A - Yellow
color4  = #b55a0f # base0D - Blue
color5  = #3e9d21 # base0E - Magenta
color6  = #bd4c3d # base0C - Cyan
color7  = #544d40 # base05 - White
color8  = #b0a999 # base03 - Bright Black
color9  = #009e91 # base12 - Bright Red
color10 = #5a1f8a # base14 - Bright Green
color11 = #0f5ba2 # base13 - Bright Yellow
color12 = #b23b00 # base16 - Bright Blue
color13 = #218c00 # base17 - Bright Magenta
color14 = #b32e1f # base15 - Bright Cyan
color15 = #000000 # base07 - Bright White
color16 = #268da6 # base09
color17 = #1b6374 # base0F
color18 = #edeef1 # base01
color19 = #e4e5e7 # base02
color20 = #8d8a82 # base04
color21 = #3b362d # base06
