[colors]
# base16 Sequoia Monochrome Dark
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #868690
foreground_bold     = #868690
cursor              = #868690
cursor_foreground   = #0f1014
background          = #0f1014

color0  = #0f1014 # base00 - Black
color1  = #999eb2 # base08 - Red
color2  = #626983 # base0B - Green
color3  = #d3d5de # base0A - Yellow
color4  = #7c829d # base0D - Blue
color5  = #d3d5de # base0E - Magenta
color6  = #b6bac8 # base0C - Cyan
color7  = #868690 # base05 - White
color8  = #43444d # base03 - Bright Black
color9  = #999eb2 # base08 - Bright Red
color10 = #626983 # base0B - Bright Green
color11 = #d3d5de # base0A - Bright Yellow
color12 = #7c829d # base0D - Bright Blue
color13 = #d3d5de # base0E - Bright Magenta
color14 = #b6bac8 # base0C - Bright Cyan
color15 = #0f1014 # base07 - Bright White
color16 = #999eb2 # base09
color17 = #626983 # base0F
color18 = #111216 # base01
color19 = #111216 # base02
color20 = #575861 # base04
color21 = #868690 # base06
