[colors]
# base24 Miami
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #f7f1ff
foreground_bold     = #f7f1ff
cursor              = #f7f1ff
cursor_foreground   = #000000
background          = #000000

color0  = #000000 # base00 - Black
color1  = #ff4c8b # base08 - Red
color2  = #7fffd4 # base0B - Green
color3  = #ffd84c # base0A - Yellow
color4  = #00ffa8 # base0D - Blue
color5  = #d36cff # base0E - Magenta
color6  = #47cfff # base0C - Cyan
color7  = #f7f1ff # base05 - White
color8  = #69676c # base03 - Bright Black
color9  = #ff4c8b # base12 - Bright Red
color10 = #7fffd4 # base14 - Bright Green
color11 = #ffd84c # base13 - Bright Yellow
color12 = #00ffa8 # base16 - Bright Blue
color13 = #d36cff # base17 - Bright Magenta
color14 = #47cfff # base15 - Bright Cyan
color15 = #f7f1ff # base07 - Bright White
color16 = #ff926c # base09
color17 = #a65f46 # base0F
color18 = #111112 # base01
color19 = #1e1d1f # base02
color20 = #88858c # base04
color21 = #f9f4ff # base06
