[colors]
# tinted8 Github Light Colorblind
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #1f2328
foreground_bold     = #
cursor              = #1f2328
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #1f2328   # Black
color1  = #bc4c00     # Red
color2  = #0550ae   # Green
color3  = #4d2d00  # Yellow
color4  = #0969da    # Blue
color5  = #8250df # Magenta
color6  = #1b7c83    # Cyan
color7  = #59636e   # White
color8  = #393f46   # Bright Black
color9  = #953800     # Bright Red
color10 = #0969da   # Bright Green
color11 = #633c01  # Bright Yellow
color12 = #218bff    # Bright Blue
color13 = #a475f9 # Bright Magenta
color14 = #3192aa    # Bright Cyan
color15 = #818b98   # Bright White
