[colors]
# tinted8 Github Light High Contrast
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #010409
foreground_bold     = #
cursor              = #010409
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #010409   # Black
color1  = #a0111f     # Red
color2  = #024c1a   # Green
color3  = #3f2200  # Yellow
color4  = #0349b4    # Blue
color5  = #622cbc # Magenta
color6  = #1b7c83    # Cyan
color7  = #59636e   # White
color8  = #393f46   # Bright Black
color9  = #86061d     # Bright Red
color10 = #055d20   # Bright Green
color11 = #4e2c00  # Bright Yellow
color12 = #1168e3    # Bright Blue
color13 = #844ae7 # Bright Magenta
color14 = #3192aa    # Bright Cyan
color15 = #818b98   # Bright White
