[colors]
# tinted8 Github Dark High Contrast
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #ffffff
foreground_bold     = #
cursor              = #ffffff
cursor_foreground   = #010409
background          = #010409

color0  = #2f3742   # Black
color1  = #ff9492     # Red
color2  = #28d751   # Green
color3  = #f0b72f  # Yellow
color4  = #71b7ff    # Blue
color5  = #cb9eff # Magenta
color6  = #39c5cf    # Cyan
color7  = #f0f6fc   # White
color8  = #656c76   # Bright Black
color9  = #ffb1af     # Bright Red
color10 = #4ae168   # Bright Green
color11 = #f7c843  # Bright Yellow
color12 = #91cbff    # Bright Blue
color13 = #dbb7ff # Bright Magenta
color14 = #56d4dd    # Bright Cyan
color15 = #ffffff   # Bright White
