[colors]
# tinted8 Github Dark Colorblind
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #f0f6fc
foreground_bold     = #
cursor              = #f0f6fc
cursor_foreground   = #0d1117
background          = #0d1117

color0  = #2f3742   # Black
color1  = #f0883e     # Red
color2  = #58a6ff   # Green
color3  = #d29922  # Yellow
color4  = #58a6ff    # Blue
color5  = #be8fff # Magenta
color6  = #39c5cf    # Cyan
color7  = #f0f6fc   # White
color8  = #656c76   # Bright Black
color9  = #ffa657     # Bright Red
color10 = #79c0ff   # Bright Green
color11 = #e3b341  # Bright Yellow
color12 = #79c0ff    # Bright Blue
color13 = #d2a8ff # Bright Magenta
color14 = #56d4dd    # Bright Cyan
color15 = #ffffff   # Bright White
