# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Stella (legacy)
# Scheme author: Shrimpram
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x998bad
foreground_bold    0xb4a5c8

# Cursor color
cursor             0xb4a5c8
cursor_foreground  0x2b213c

# Background color
background         0x2b213c

color0 0x362b48 # base01 - Black
color1 0xc79987 # base08 - Red
color2 0xacc79b # base0B - Green
color3 0xc7c691 # base0A - Yellow
color4 0xa5aad4 # base0D - Blue
color5 0xc594ff # base0E - Magenta
color6 0x9bc7bf # base0C - Cyan
color7 0xb4a5c8 # base06 - White
color8 0x4d4160 # base02 - Bright Black
color9 0x8865c6 # base09 - Bright Red
color10 0x362b48 # base01 - Bright Green
color11 0x4d4160 # base02 - Bright Yellow
color12 0x7f7192 # base04 - Bright Blue
color13 0xb4a5c8 # base06 - Bright Magenta
color14 0xc7ab87 # base0F - Bright Cyan
color15 0xebdcff # base07 - Bright White
