# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Eighties (legacy)
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xd3d0c8
foreground_bold    0xe8e6df

# Cursor color
cursor             0xe8e6df
cursor_foreground  0x2d2d2d

# Background color
background         0x2d2d2d

color0 0x393939 # base01 - Black
color1 0xf2777a # base08 - Red
color2 0x99cc99 # base0B - Green
color3 0xffcc66 # base0A - Yellow
color4 0x6699cc # base0D - Blue
color5 0xcc99cc # base0E - Magenta
color6 0x66cccc # base0C - Cyan
color7 0xe8e6df # base06 - White
color8 0x515151 # base02 - Bright Black
color9 0xf99157 # base09 - Bright Red
color10 0x393939 # base01 - Bright Green
color11 0x515151 # base02 - Bright Yellow
color12 0xa09f93 # base04 - Bright Blue
color13 0xe8e6df # base06 - Bright Magenta
color14 0xd27b53 # base0F - Bright Cyan
color15 0xf2f0ec # base07 - Bright White
