# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Eva (legacy)
# Scheme author: kjakapat (https://github.com/kjakapat)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x9fa2a6
foreground_bold    0xd6d7d9

# Cursor color
cursor             0xd6d7d9
cursor_foreground  0x2a3b4d

# Background color
background         0x2a3b4d

color0 0x3d566f # base01 - Black
color1 0xc4676c # base08 - Red
color2 0x66ff66 # base0B - Green
color3 0xffff66 # base0A - Yellow
color4 0x15f4ee # base0D - Blue
color5 0x9c6cd3 # base0E - Magenta
color6 0x4b8f77 # base0C - Cyan
color7 0xd6d7d9 # base06 - White
color8 0x4b6988 # base02 - Bright Black
color9 0xff9966 # base09 - Bright Red
color10 0x3d566f # base01 - Bright Green
color11 0x4b6988 # base02 - Bright Yellow
color12 0x7e90a3 # base04 - Bright Blue
color13 0xd6d7d9 # base06 - Bright Magenta
color14 0xbb64a9 # base0F - Bright Cyan
color15 0xffffff # base07 - Bright White
