# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Tokyo City Terminal Light (legacy)
# Scheme author: Michaël Ball
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x28323a
foreground_bold    0x1d252c

# Cursor color
cursor             0x1d252c
cursor_foreground  0xfbfbfd

# Background color
background         0xfbfbfd

color0 0xf6f6f8 # base01 - Black
color1 0x8c4351 # base08 - Red
color2 0x33635c # base0B - Green
color3 0x8f5e15 # base0A - Yellow
color4 0x34548a # base0D - Blue
color5 0x5a4a78 # base0E - Magenta
color6 0x0f4b6e # base0C - Cyan
color7 0x1d252c # base06 - White
color8 0xd8e2ec # base02 - Bright Black
color9 0x965027 # base09 - Bright Red
color10 0xf6f6f8 # base01 - Bright Green
color11 0xd8e2ec # base02 - Bright Yellow
color12 0x526270 # base04 - Bright Blue
color13 0x1d252c # base06 - Bright Magenta
color14 0x7e5140 # base0F - Bright Cyan
color15 0x171d23 # base07 - Bright White
