# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Atelier Lakeside Light (legacy)
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x516d7b
foreground_bold    0x1f292e

# Cursor color
cursor             0x1f292e
cursor_foreground  0xebf8ff

# Background color
background         0xebf8ff

color0 0xc1e4f6 # base01 - Black
color1 0xd22d72 # base08 - Red
color2 0x568c3b # base0B - Green
color3 0x8a8a0f # base0A - Yellow
color4 0x257fad # base0D - Blue
color5 0x6b6bb8 # base0E - Magenta
color6 0x2d8f6f # base0C - Cyan
color7 0x1f292e # base06 - White
color8 0x7ea2b4 # base02 - Bright Black
color9 0x935c25 # base09 - Bright Red
color10 0xc1e4f6 # base01 - Bright Green
color11 0x7ea2b4 # base02 - Bright Yellow
color12 0x5a7b8c # base04 - Bright Blue
color13 0x1f292e # base06 - Bright Magenta
color14 0xb72dd2 # base0F - Bright Cyan
color15 0x161b1d # base07 - Bright White
