# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Tango (legacy)
# Scheme author: @Schnouki, based on the Tango Desktop Project
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xd3d7cf
foreground_bold    0xad7fa8

# Cursor color
cursor             0xad7fa8
cursor_foreground  0x2e3436

# Background color
background         0x2e3436

color0 0x8ae234 # base01 - Black
color1 0xcc0000 # base08 - Red
color2 0x4e9a06 # base0B - Green
color3 0xc4a000 # base0A - Yellow
color4 0x3465a4 # base0D - Blue
color5 0x75507b # base0E - Magenta
color6 0x06989a # base0C - Cyan
color7 0xad7fa8 # base06 - White
color8 0xfce94f # base02 - Bright Black
color9 0xef2929 # base09 - Bright Red
color10 0x8ae234 # base01 - Bright Green
color11 0xfce94f # base02 - Bright Yellow
color12 0x729fcf # base04 - Bright Blue
color13 0xad7fa8 # base06 - Bright Magenta
color14 0x34e2e2 # base0F - Bright Cyan
color15 0xeeeeec # base07 - Bright White
