# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Tokyodark (legacy)
# Scheme author: Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xa0a8cd
foreground_bold    0xabb2bf

# Cursor color
cursor             0xabb2bf
cursor_foreground  0x11121d

# Background color
background         0x11121d

color0 0x212234 # base01 - Black
color1 0xee6d85 # base08 - Red
color2 0x95c561 # base0B - Green
color3 0xd7a65f # base0A - Yellow
color4 0x7199ee # base0D - Blue
color5 0xa485dd # base0E - Magenta
color6 0x9fbbf3 # base0C - Cyan
color7 0xabb2bf # base06 - White
color8 0x212234 # base02 - Bright Black
color9 0xf6955b # base09 - Bright Red
color10 0x212234 # base01 - Bright Green
color11 0x212234 # base02 - Bright Yellow
color12 0x4a5057 # base04 - Bright Blue
color13 0xabb2bf # base06 - Bright Magenta
color14 0x773440 # base0F - Bright Cyan
color15 0xbcc2dc # base07 - Bright White
