# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Atlas (legacy)
# Scheme author: Alex Lende (https://ajlende.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xa1a19a
foreground_bold    0xe6e6dc

# Cursor color
cursor             0xe6e6dc
cursor_foreground  0x002635

# Background color
background         0x002635

color0 0x00384d # base01 - Black
color1 0xff5a67 # base08 - Red
color2 0x7fc06e # base0B - Green
color3 0xffcc1b # base0A - Yellow
color4 0x14747e # base0D - Blue
color5 0x9a70a4 # base0E - Magenta
color6 0x5dd7b9 # base0C - Cyan
color7 0xe6e6dc # base06 - White
color8 0x517f8d # base02 - Bright Black
color9 0xf08e48 # base09 - Bright Red
color10 0x00384d # base01 - Bright Green
color11 0x517f8d # base02 - Bright Yellow
color12 0x869696 # base04 - Bright Blue
color13 0xe6e6dc # base06 - Bright Magenta
color14 0xc43060 # base0F - Bright Cyan
color15 0xfafaf8 # base07 - Bright White
