# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Windows High Contrast Light (legacy)
# Scheme author: Fergus Collins (https://github.com/C-Fergus)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x545454
foreground_bold    0x2a2a2a

# Cursor color
cursor             0x2a2a2a
cursor_foreground  0xfcfcfc

# Background color
background         0xfcfcfc

color0 0xe8e8e8 # base01 - Black
color1 0x800000 # base08 - Red
color2 0x008000 # base0B - Green
color3 0x808000 # base0A - Yellow
color4 0x000080 # base0D - Blue
color5 0x800080 # base0E - Magenta
color6 0x008080 # base0C - Cyan
color7 0x2a2a2a # base06 - White
color8 0xd4d4d4 # base02 - Bright Black
color9 0xfcfc54 # base09 - Bright Red
color10 0xe8e8e8 # base01 - Bright Green
color11 0xd4d4d4 # base02 - Bright Yellow
color12 0x7e7e7e # base04 - Bright Blue
color13 0x2a2a2a # base06 - Bright Magenta
color14 0x54fc54 # base0F - Bright Cyan
color15 0x000000 # base07 - Bright White
