# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Windows NT Light (legacy)
# Scheme author: Fergus Collins (https://github.com/C-Fergus)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0x808080
foreground_bold    0x404040

# Cursor color
cursor             0x404040
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0xeaeaea # base01 - Black
color1 0x800000 # base08 - Red
color2 0x008000 # base0B - Green
color3 0x808000 # base0A - Yellow
color4 0x000080 # base0D - Blue
color5 0x800080 # base0E - Magenta
color6 0x008080 # base0C - Cyan
color7 0x404040 # base06 - White
color8 0xd5d5d5 # base02 - Bright Black
color9 0xffff00 # base09 - Bright Red
color10 0xeaeaea # base01 - Bright Green
color11 0xd5d5d5 # base02 - Bright Yellow
color12 0xa0a0a0 # base04 - Bright Blue
color13 0x404040 # base06 - Bright Magenta
color14 0x00ff00 # base0F - Bright Cyan
color15 0x000000 # base07 - Bright White
