# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Blueish (legacy)
# Scheme author: Ben Mayoras
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xc8e1f8
foreground_bold    0xddeaf6

# Cursor color
cursor             0xddeaf6
cursor_foreground  0x182430

# Background color
background         0x182430

color0 0x243c54 # base01 - Black
color1 0x4ce587 # base08 - Red
color2 0xc3e88d # base0B - Green
color3 0x82aaff # base0A - Yellow
color4 0x82aaff # base0D - Blue
color5 0xff84dd # base0E - Magenta
color6 0x5fd1ff # base0C - Cyan
color7 0xddeaf6 # base06 - White
color8 0x46290a # base02 - Bright Black
color9 0xf6a85c # base09 - Bright Red
color10 0x243c54 # base01 - Bright Green
color11 0x46290a # base02 - Bright Yellow
color12 0x74afe7 # base04 - Bright Blue
color13 0xddeaf6 # base06 - Bright Magenta
color14 0xbbd2e8 # base0F - Bright Cyan
color15 0x8f98a0 # base07 - Bright White
