# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Dark Violet (legacy)
# Scheme author: ruler501 (https://github.com/ruler501/base16-darkviolet)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xb08ae6
foreground_bold    0x9045e6

# Cursor color
cursor             0x9045e6
cursor_foreground  0x000000

# Background color
background         0x000000

color0 0x231a40 # base01 - Black
color1 0xa82ee6 # base08 - Red
color2 0x4595e6 # base0B - Green
color3 0xf29df2 # base0A - Yellow
color4 0x4136d9 # base0D - Blue
color5 0x7e5ce6 # base0E - Magenta
color6 0x40dfff # base0C - Cyan
color7 0x9045e6 # base06 - White
color8 0x432d59 # base02 - Bright Black
color9 0xbb66cc # base09 - Bright Red
color10 0x231a40 # base01 - Bright Green
color11 0x432d59 # base02 - Bright Yellow
color12 0x00ff00 # base04 - Bright Blue
color13 0x9045e6 # base06 - Bright Magenta
color14 0xa886bf # base0F - Bright Cyan
color15 0xa366ff # base07 - Bright White
