# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Dracula (legacy)
# Scheme author: Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xf8f8f2
foreground_bold    0xf0f1f4

# Cursor color
cursor             0xf0f1f4
cursor_foreground  0x282a36

# Background color
background         0x282a36

color0 0x363447 # base01 - Black
color1 0xff5555 # base08 - Red
color2 0x50fa7b # base0B - Green
color3 0xf1fa8c # base0A - Yellow
color4 0x80bfff # base0D - Blue
color5 0xff79c6 # base0E - Magenta
color6 0x8be9fd # base0C - Cyan
color7 0xf0f1f4 # base06 - White
color8 0x44475a # base02 - Bright Black
color9 0xffb86c # base09 - Bright Red
color10 0x363447 # base01 - Bright Green
color11 0x44475a # base02 - Bright Yellow
color12 0x9ea8c7 # base04 - Bright Blue
color13 0xf0f1f4 # base06 - Bright Magenta
color14 0xbd93f9 # base0F - Bright Cyan
color15 0xffffff # base07 - Bright White
