# Kermit Terminal Theme
# Scheme system: base16
# Scheme name: Blue Forest (legacy)
# Scheme author: alonsodomin (https://github.com/alonsodomin)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# Foreground color
foreground         0xffcc33
foreground_bold    0x91ccff

# Cursor color
cursor             0x91ccff
cursor_foreground  0x141f2e

# Background color
background         0x141f2e

color0 0x1e5c1e # base01 - Black
color1 0xfffab1 # base08 - Red
color2 0x80ff80 # base0B - Green
color3 0x91ccff # base0A - Yellow
color4 0xa2cff5 # base0D - Blue
color5 0x0099ff # base0E - Magenta
color6 0x80ff80 # base0C - Cyan
color7 0x91ccff # base06 - White
color8 0x273e5c # base02 - Bright Black
color9 0xff8080 # base09 - Bright Red
color10 0x1e5c1e # base01 - Bright Green
color11 0x273e5c # base02 - Bright Yellow
color12 0x1e5c1e # base04 - Bright Blue
color13 0x91ccff # base06 - Bright Magenta
color14 0xe7e7e7 # base0F - Bright Cyan
color15 0x375780 # base07 - Bright White
