# Rio Terminal {{scheme-system}} color theme (https://github.com/tinted-theming)
# Color scheme: {{scheme-name}} by {{scheme-author}}

[colors]
selection-background = '#{{base02-hex}}' # base02
selection-foreground = '#{{base05-hex}}' # base05

cursor         = '#{{base05-hex}}' # base05
tabs           = '#{{base01-hex}}' # base01
tabs-active    = '#{{base02-hex}}' # base02

background     = '#{{base00-hex}}' # base00
foreground     = '#{{base05-hex}}' # base05
black          = '#{{base01-hex}}' # base01
white          = '#{{base06-hex}}' # base06
red            = '#{{base08-hex}}' # base08
yellow         = '#{{base09-hex}}' # base09
green          = '#{{base0B-hex}}' # base0B
cyan           = '#{{base0C-hex}}' # base0C
blue           = '#{{base0D-hex}}' # base0D
magenta        = '#{{base0E-hex}}' # base0E

dim-foreground   = '#{{base04-hex}}' # base04
dim-white        = '#{{base04-hex}}' # base04
dim-black        = '#{{base01-hex}}' # base01
dim-yellow       = '#{{base09-hex}}' # base09
dim-green        = '#{{base0B-hex}}' # base0B
dim-cyan         = '#{{base0C-hex}}' # base0C
dim-blue         = '#{{base0D-hex}}' # base0D
dim-magenta      = '#{{base0E-hex}}' # base0E
dim-red          = '#{{base0F-hex}}' # base0F

light-foreground = '#{{base07-hex}}' # base07
light_white      = '#{{base07-hex}}' # base07
light_black      = '#{{base02-hex}}' # base02
light_red        = '#{{base08-hex}}' # base08
light_yellow     = '#{{base0A-hex}}' # base0A
light_green      = '#{{base0B-hex}}' # base0B
light_cyan       = '#{{base0C-hex}}' # base0C
light_blue       = '#{{base0D-hex}}' # base0D
light_magenta    = '#{{base0E-hex}}' # base0E
