# xfce4 Terminal Theme
# Scheme system: {{scheme-system}}
# Scheme name: {{scheme-name}} (legacy)
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)
[Scheme]
Name={{scheme-system}}-{{scheme-slug}}-legacy
ColorForeground=#{{base05-hex}}
ColorBackground=#{{base00-hex}}
ColorCursor=x
ColorBoldIsBright=FALSE
ColorPalette=#{{base01-hex}};#{{base08-hex}};#{{base0B-hex}};#{{base0A-hex}};#{{base0D-hex}};#{{base0E-hex}};#{{base0C-hex}};#{{base06-hex}};#{{base02-hex}};#{{base09-hex}};#{{base01-hex}};#{{base02-hex}};#{{base04-hex}};#{{base06-hex}};#{{base0F-hex}};#{{base07-hex}}
