# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Precious Light White (legacy)
# Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #555555
foreground_bold     = #555555
cursor              = #555555
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #ededed # base01 - Black
color1  = #af4947 # base08 - Red
color2  = #557301 # base0B - Green
color3  = #876500 # base0A - Yellow
color4  = #186daa # base0D - Blue
color5  = #7b4ecb # base0E - Magenta
color6  = #087767 # base0C - Cyan
color7  = #555555 # base06 - White
color8  = #dbdbdb # base02 - Bright Black
color9  = #a0570d # base09 - Bright Red
color10 = #ededed # base01 - Bright Green
color11 = #dbdbdb # base02 - Bright Yellow
color12 = #636363 # base04 - Bright Blue
color13 = #555555 # base06 - Bright Magenta
color14 = #a93e93 # base0F - Bright Cyan
color15 = #555555 # base07 - Bright White
