# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Shapeshifter (legacy)
# Scheme author: Tyler Benziger (http://tybenz.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #102015
foreground_bold     = #102015
cursor              = #102015
cursor_foreground   = #f9f9f9
background          = #f9f9f9

color0  = #e0e0e0 # base01 - Black
color1  = #e92f2f # base08 - Red
color2  = #0ed839 # base0B - Green
color3  = #dddd13 # base0A - Yellow
color4  = #3b48e3 # base0D - Blue
color5  = #f996e2 # base0E - Magenta
color6  = #23edda # base0C - Cyan
color7  = #040404 # base06 - White
color8  = #ababab # base02 - Bright Black
color9  = #e09448 # base09 - Bright Red
color10 = #e0e0e0 # base01 - Bright Green
color11 = #ababab # base02 - Bright Yellow
color12 = #343434 # base04 - Bright Blue
color13 = #040404 # base06 - Bright Magenta
color14 = #69542d # base0F - Bright Cyan
color15 = #000000 # base07 - Bright White
