# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Oxocarbon Dark (legacy)
# Scheme author: shaunsingh/IBM
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #f2f4f8
foreground_bold     = #f2f4f8
cursor              = #f2f4f8
cursor_foreground   = #161616
background          = #161616

color0  = #262626 # base01 - Black
color1  = #3ddbd9 # base08 - Red
color2  = #33b1ff # base0B - Green
color3  = #ee5396 # base0A - Yellow
color4  = #42be65 # base0D - Blue
color5  = #be95ff # base0E - Magenta
color6  = #ff7eb6 # base0C - Cyan
color7  = #ffffff # base06 - White
color8  = #393939 # base02 - Bright Black
color9  = #78a9ff # base09 - Bright Red
color10 = #262626 # base01 - Bright Green
color11 = #393939 # base02 - Bright Yellow
color12 = #dde1e6 # base04 - Bright Blue
color13 = #ffffff # base06 - Bright Magenta
color14 = #82cfff # base0F - Bright Cyan
color15 = #08bdba # base07 - Bright White
