# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Seti UI (legacy)
# Scheme author: 
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #d6d6d6
foreground_bold     = #d6d6d6
cursor              = #d6d6d6
cursor_foreground   = #151718
background          = #151718

color0  = #282a2b # base01 - Black
color1  = #cd3f45 # base08 - Red
color2  = #9fca56 # base0B - Green
color3  = #e6cd69 # base0A - Yellow
color4  = #55b5db # base0D - Blue
color5  = #a074c4 # base0E - Magenta
color6  = #55dbbe # base0C - Cyan
color7  = #eeeeee # base06 - White
color8  = #3b758c # base02 - Bright Black
color9  = #db7b55 # base09 - Bright Red
color10 = #282a2b # base01 - Bright Green
color11 = #3b758c # base02 - Bright Yellow
color12 = #43a5d5 # base04 - Bright Blue
color13 = #eeeeee # base06 - Bright Magenta
color14 = #8a553f # base0F - Bright Cyan
color15 = #ffffff # base07 - Bright White
