# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Ashes (legacy)
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #c7ccd1
foreground_bold     = #c7ccd1
cursor              = #c7ccd1
cursor_foreground   = #1c2023
background          = #1c2023

color0  = #393f45 # base01 - Black
color1  = #c7ae95 # base08 - Red
color2  = #95c7ae # base0B - Green
color3  = #aec795 # base0A - Yellow
color4  = #ae95c7 # base0D - Blue
color5  = #c795ae # base0E - Magenta
color6  = #95aec7 # base0C - Cyan
color7  = #dfe2e5 # base06 - White
color8  = #565e65 # base02 - Bright Black
color9  = #c7c795 # base09 - Bright Red
color10 = #393f45 # base01 - Bright Green
color11 = #565e65 # base02 - Bright Yellow
color12 = #adb3ba # base04 - Bright Blue
color13 = #dfe2e5 # base06 - Bright Magenta
color14 = #c79595 # base0F - Bright Cyan
color15 = #f3f4f5 # base07 - Bright White
