# Termite Terminal Theme
# Scheme system: base16
# Scheme name: caroline (legacy)
# Scheme author: ed (https://codeberg.org/ed)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #a87569
foreground_bold     = #a87569
cursor              = #a87569
cursor_foreground   = #1c1213
background          = #1c1213

color0  = #3a2425 # base01 - Black
color1  = #c24f57 # base08 - Red
color2  = #806c61 # base0B - Green
color3  = #f28171 # base0A - Yellow
color4  = #684c59 # base0D - Blue
color5  = #a63650 # base0E - Magenta
color6  = #6b6566 # base0C - Cyan
color7  = #c58d7b # base06 - White
color8  = #563837 # base02 - Bright Black
color9  = #a63650 # base09 - Bright Red
color10 = #3a2425 # base01 - Bright Green
color11 = #563837 # base02 - Bright Yellow
color12 = #8b5d57 # base04 - Bright Blue
color13 = #c58d7b # base06 - Bright Magenta
color14 = #893f45 # base0F - Bright Cyan
color15 = #e3a68c # base07 - Bright White
