# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Bright (legacy)
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #e0e0e0
foreground_bold     = #e0e0e0
cursor              = #e0e0e0
cursor_foreground   = #000000
background          = #000000

color0  = #303030 # base01 - Black
color1  = #fb0120 # base08 - Red
color2  = #a1c659 # base0B - Green
color3  = #fda331 # base0A - Yellow
color4  = #6fb3d2 # base0D - Blue
color5  = #d381c3 # base0E - Magenta
color6  = #76c7b7 # base0C - Cyan
color7  = #f5f5f5 # base06 - White
color8  = #505050 # base02 - Bright Black
color9  = #fc6d24 # base09 - Bright Red
color10 = #303030 # base01 - Bright Green
color11 = #505050 # base02 - Bright Yellow
color12 = #d0d0d0 # base04 - Bright Blue
color13 = #f5f5f5 # base06 - Bright Magenta
color14 = #be643c # base0F - Bright Cyan
color15 = #ffffff # base07 - Bright White
