# Termite Terminal Theme
# Scheme system: base16
# Scheme name: standardized-light (legacy)
# Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #444444
foreground_bold     = #444444
cursor              = #444444
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #eeeeee # base01 - Black
color1  = #d03e3e # base08 - Red
color2  = #31861f # base0B - Green
color3  = #ad8200 # base0A - Yellow
color4  = #3173c5 # base0D - Blue
color5  = #9e57c2 # base0E - Magenta
color6  = #00998f # base0C - Cyan
color7  = #333333 # base06 - White
color8  = #cccccc # base02 - Bright Black
color9  = #d7691d # base09 - Bright Red
color10 = #eeeeee # base01 - Bright Green
color11 = #cccccc # base02 - Bright Yellow
color12 = #767676 # base04 - Bright Blue
color13 = #333333 # base06 - Bright Magenta
color14 = #895025 # base0F - Bright Cyan
color15 = #222222 # base07 - Bright White
