# Termite Terminal Theme
# Scheme system: base16
# Scheme name: DanQing (legacy)
# Scheme author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #e0f0ef
foreground_bold     = #e0f0ef
cursor              = #e0f0ef
cursor_foreground   = #2d302f
background          = #2d302f

color0  = #434846 # base01 - Black
color1  = #f9906f # base08 - Red
color2  = #8ab361 # base0B - Green
color3  = #f0c239 # base0A - Yellow
color4  = #b0a4e3 # base0D - Blue
color5  = #cca4e3 # base0E - Magenta
color6  = #30dff3 # base0C - Cyan
color7  = #ecf6f2 # base06 - White
color8  = #5a605d # base02 - Bright Black
color9  = #b38a61 # base09 - Bright Red
color10 = #434846 # base01 - Bright Green
color11 = #5a605d # base02 - Bright Yellow
color12 = #cad8d2 # base04 - Bright Blue
color13 = #ecf6f2 # base06 - Bright Magenta
color14 = #ca6924 # base0F - Bright Cyan
color15 = #fcfefd # base07 - Bright White
