# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Da One Sea (legacy)
# Scheme author: NNB (https://github.com/NNBnh)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #ffffff
foreground_bold     = #ffffff
cursor              = #ffffff
cursor_foreground   = #22273d
background          = #22273d

color0  = #374059 # base01 - Black
color1  = #fa7883 # base08 - Red
color2  = #98c379 # base0B - Green
color3  = #ff9470 # base0A - Yellow
color4  = #6bb8ff # base0D - Blue
color5  = #e799ff # base0E - Magenta
color6  = #8af5ff # base0C - Cyan
color7  = #ffffff # base06 - White
color8  = #525866 # base02 - Bright Black
color9  = #ffc387 # base09 - Bright Red
color10 = #374059 # base01 - Bright Green
color11 = #525866 # base02 - Bright Yellow
color12 = #c8c8c8 # base04 - Bright Blue
color13 = #ffffff # base06 - Bright Magenta
color14 = #b3684f # base0F - Bright Cyan
color15 = #ffffff # base07 - Bright White
