# Termite Terminal Theme
# Scheme system: base16
# Scheme name: selenized-dark (legacy)
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #adbcbc
foreground_bold     = #adbcbc
cursor              = #adbcbc
cursor_foreground   = #103c48
background          = #103c48

color0  = #184956 # base01 - Black
color1  = #fa5750 # base08 - Red
color2  = #75b938 # base0B - Green
color3  = #dbb32d # base0A - Yellow
color4  = #4695f7 # base0D - Blue
color5  = #af88eb # base0E - Magenta
color6  = #41c7b9 # base0C - Cyan
color7  = #cad8d9 # base06 - White
color8  = #2d5b69 # base02 - Bright Black
color9  = #ed8649 # base09 - Bright Red
color10 = #184956 # base01 - Bright Green
color11 = #2d5b69 # base02 - Bright Yellow
color12 = #72898f # base04 - Bright Blue
color13 = #cad8d9 # base06 - Bright Magenta
color14 = #f275be # base0F - Bright Cyan
color15 = #cad8d9 # base07 - Bright White
