# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Spacemacs (legacy)
# Scheme author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #a3a3a3
foreground_bold     = #a3a3a3
cursor              = #a3a3a3
cursor_foreground   = #1f2022
background          = #1f2022

color0  = #282828 # base01 - Black
color1  = #f2241f # base08 - Red
color2  = #67b11d # base0B - Green
color3  = #b1951d # base0A - Yellow
color4  = #4f97d7 # base0D - Blue
color5  = #a31db1 # base0E - Magenta
color6  = #2d9574 # base0C - Cyan
color7  = #e8e8e8 # base06 - White
color8  = #444155 # base02 - Bright Black
color9  = #ffa500 # base09 - Bright Red
color10 = #282828 # base01 - Bright Green
color11 = #444155 # base02 - Bright Yellow
color12 = #b8b8b8 # base04 - Bright Blue
color13 = #e8e8e8 # base06 - Bright Magenta
color14 = #b03060 # base0F - Bright Cyan
color15 = #f8f8f8 # base07 - Bright White
