# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Ayu Light (legacy)
# Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #5c6773
foreground_bold     = #5c6773
cursor              = #5c6773
cursor_foreground   = #fafafa
background          = #fafafa

color0  = #f3f4f5 # base01 - Black
color1  = #f07178 # base08 - Red
color2  = #86b300 # base0B - Green
color3  = #f2ae49 # base0A - Yellow
color4  = #36a3d9 # base0D - Blue
color5  = #a37acc # base0E - Magenta
color6  = #4cbf99 # base0C - Cyan
color7  = #242936 # base06 - White
color8  = #f8f9fa # base02 - Bright Black
color9  = #fa8d3e # base09 - Bright Red
color10 = #f3f4f5 # base01 - Bright Green
color11 = #f8f9fa # base02 - Bright Yellow
color12 = #828c99 # base04 - Bright Blue
color13 = #242936 # base06 - Bright Magenta
color14 = #e6ba7e # base0F - Bright Cyan
color15 = #1a1f29 # base07 - Bright White
