# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Tango (legacy)
# Scheme author: @Schnouki, based on the Tango Desktop Project
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #d3d7cf
foreground_bold     = #d3d7cf
cursor              = #d3d7cf
cursor_foreground   = #2e3436
background          = #2e3436

color0  = #8ae234 # base01 - Black
color1  = #cc0000 # base08 - Red
color2  = #4e9a06 # base0B - Green
color3  = #c4a000 # base0A - Yellow
color4  = #3465a4 # base0D - Blue
color5  = #75507b # base0E - Magenta
color6  = #06989a # base0C - Cyan
color7  = #ad7fa8 # base06 - White
color8  = #fce94f # base02 - Bright Black
color9  = #ef2929 # base09 - Bright Red
color10 = #8ae234 # base01 - Bright Green
color11 = #fce94f # base02 - Bright Yellow
color12 = #729fcf # base04 - Bright Blue
color13 = #ad7fa8 # base06 - Bright Magenta
color14 = #34e2e2 # base0F - Bright Cyan
color15 = #eeeeec # base07 - Bright White
