# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Rebecca (legacy)
# Scheme author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #f1eff8
foreground_bold     = #f1eff8
cursor              = #f1eff8
cursor_foreground   = #292a44
background          = #292a44

color0  = #663399 # base01 - Black
color1  = #a0a0c5 # base08 - Red
color2  = #6dfedf # base0B - Green
color3  = #ae81ff # base0A - Yellow
color4  = #2de0a7 # base0D - Blue
color5  = #7aa5ff # base0E - Magenta
color6  = #8eaee0 # base0C - Cyan
color7  = #ccccff # base06 - White
color8  = #383a62 # base02 - Bright Black
color9  = #efe4a1 # base09 - Bright Red
color10 = #663399 # base01 - Bright Green
color11 = #383a62 # base02 - Bright Yellow
color12 = #a0a0c5 # base04 - Bright Blue
color13 = #ccccff # base06 - Bright Magenta
color14 = #ff79c6 # base0F - Bright Cyan
color15 = #53495d # base07 - Bright White
