# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Pop (legacy)
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #d0d0d0
foreground_bold     = #d0d0d0
cursor              = #d0d0d0
cursor_foreground   = #000000
background          = #000000

color0  = #202020 # base01 - Black
color1  = #eb008a # base08 - Red
color2  = #37b349 # base0B - Green
color3  = #f8ca12 # base0A - Yellow
color4  = #0e5a94 # base0D - Blue
color5  = #b31e8d # base0E - Magenta
color6  = #00aabb # base0C - Cyan
color7  = #e0e0e0 # base06 - White
color8  = #303030 # base02 - Bright Black
color9  = #f29333 # base09 - Bright Red
color10 = #202020 # base01 - Bright Green
color11 = #303030 # base02 - Bright Yellow
color12 = #b0b0b0 # base04 - Bright Blue
color13 = #e0e0e0 # base06 - Bright Magenta
color14 = #7a2d00 # base0F - Bright Cyan
color15 = #ffffff # base07 - Bright White
