# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Oxocarbon Light (legacy)
# Scheme author: shaunsingh/IBM
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #393939
foreground_bold     = #393939
cursor              = #393939
cursor_foreground   = #f2f4f8
background          = #f2f4f8

color0  = #dde1e6 # base01 - Black
color1  = #ff7eb6 # base08 - Red
color2  = #0f62fe # base0B - Green
color3  = #ff6f00 # base0A - Yellow
color4  = #42be65 # base0D - Blue
color5  = #be95ff # base0E - Magenta
color6  = #673ab7 # base0C - Cyan
color7  = #525252 # base06 - White
color8  = #525252 # base02 - Bright Black
color9  = #ee5396 # base09 - Bright Red
color10 = #dde1e6 # base01 - Bright Green
color11 = #525252 # base02 - Bright Yellow
color12 = #262626 # base04 - Bright Blue
color13 = #525252 # base06 - Bright Magenta
color14 = #37474f # base0F - Bright Cyan
color15 = #08bdba # base07 - Bright White
