# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Classic Light (legacy)
# Scheme author: Jason Heeris (http://heeris.id.au)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #303030
foreground_bold     = #303030
cursor              = #303030
cursor_foreground   = #f5f5f5
background          = #f5f5f5

color0  = #e0e0e0 # base01 - Black
color1  = #ac4142 # base08 - Red
color2  = #90a959 # base0B - Green
color3  = #f4bf75 # base0A - Yellow
color4  = #6a9fb5 # base0D - Blue
color5  = #aa759f # base0E - Magenta
color6  = #75b5aa # base0C - Cyan
color7  = #202020 # base06 - White
color8  = #d0d0d0 # base02 - Bright Black
color9  = #d28445 # base09 - Bright Red
color10 = #e0e0e0 # base01 - Bright Green
color11 = #d0d0d0 # base02 - Bright Yellow
color12 = #505050 # base04 - Bright Blue
color13 = #202020 # base06 - Bright Magenta
color14 = #8f5536 # base0F - Bright Cyan
color15 = #151515 # base07 - Bright White
