# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Unikitty Reversible (legacy)
# Scheme author: Josh W Lewis (@joshwlewis)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #c3c2c4
foreground_bold     = #c3c2c4
cursor              = #c3c2c4
cursor_foreground   = #2e2a31
background          = #2e2a31

color0  = #4b484e # base01 - Black
color1  = #d8137f # base08 - Red
color2  = #17ad98 # base0B - Green
color3  = #dc8a0e # base0A - Yellow
color4  = #7864fa # base0D - Blue
color5  = #b33ce8 # base0E - Magenta
color6  = #149bda # base0C - Cyan
color7  = #e1e0e1 # base06 - White
color8  = #69666b # base02 - Bright Black
color9  = #d65407 # base09 - Bright Red
color10 = #4b484e # base01 - Bright Green
color11 = #69666b # base02 - Bright Yellow
color12 = #a5a3a6 # base04 - Bright Blue
color13 = #e1e0e1 # base06 - Bright Magenta
color14 = #d41acd # base0F - Bright Cyan
color15 = #ffffff # base07 - Bright White
