# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Atelier Savanna (legacy)
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #87928a
foreground_bold     = #87928a
cursor              = #87928a
cursor_foreground   = #171c19
background          = #171c19

color0  = #232a25 # base01 - Black
color1  = #b16139 # base08 - Red
color2  = #489963 # base0B - Green
color3  = #a07e3b # base0A - Yellow
color4  = #478c90 # base0D - Blue
color5  = #55859b # base0E - Magenta
color6  = #1c9aa0 # base0C - Cyan
color7  = #dfe7e2 # base06 - White
color8  = #526057 # base02 - Bright Black
color9  = #9f713c # base09 - Bright Red
color10 = #232a25 # base01 - Bright Green
color11 = #526057 # base02 - Bright Yellow
color12 = #78877d # base04 - Bright Blue
color13 = #dfe7e2 # base06 - Bright Magenta
color14 = #867469 # base0F - Bright Cyan
color15 = #ecf4ee # base07 - Bright White
