# Termite Terminal Theme
# Scheme system: base16
# Scheme name: Dark Violet (legacy)
# Scheme author: ruler501 (https://github.com/ruler501/base16-darkviolet)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

[colors]
foreground          = #b08ae6
foreground_bold     = #b08ae6
cursor              = #b08ae6
cursor_foreground   = #000000
background          = #000000

color0  = #231a40 # base01 - Black
color1  = #a82ee6 # base08 - Red
color2  = #4595e6 # base0B - Green
color3  = #f29df2 # base0A - Yellow
color4  = #4136d9 # base0D - Blue
color5  = #7e5ce6 # base0E - Magenta
color6  = #40dfff # base0C - Cyan
color7  = #9045e6 # base06 - White
color8  = #432d59 # base02 - Bright Black
color9  = #bb66cc # base09 - Bright Red
color10 = #231a40 # base01 - Bright Green
color11 = #432d59 # base02 - Bright Yellow
color12 = #00ff00 # base04 - Bright Blue
color13 = #9045e6 # base06 - Bright Magenta
color14 = #a886bf # base0F - Bright Cyan
color15 = #a366ff # base07 - Bright White
