# Scheme name: Corduroy
# Scheme system: base16
# Scheme author: taysatte (https://github.com/taysatte)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcdc8d0
foreground_bold    0xcdc8d0

# Cursor color
cursor             0xcdc8d0
cursor_foreground  0x1d1920

# Background color
background         0x1d1920

color0 0x1d1920 # base00 - Black
color1 0xe06278 # base08 - Red
color2 0x4b8686 # base0B - Green
color3 0xedb392 # base0A - Yellow
color4 0xd27f91 # base0D - Blue
color5 0xc285b2 # base0E - Magenta
color6 0xe99d90 # base0C - Cyan
color7 0xcdc8d0 # base05 - White
color8 0x6f6373 # base03 - Bright Black
color9 0xe06278 # base08 - Bright Red
color10 0x4b8686 # base0B - Bright Green
color11 0xedb392 # base0A - Bright Yellow
color12 0xd27f91 # base0D - Bright Blue
color13 0xc285b2 # base0E - Bright Magenta
color14 0xe99d90 # base0C - Bright Cyan
color15 0x504757 # base07 - Bright White
