# Scheme name: Ayu Light
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcbcbcb
foreground_bold    0xffffff

# Cursor color
cursor             0xffffff
cursor_foreground  0xfafafa

# Background color
background         0xfafafa

color0 0x000000 # base01 - Black
color1 0xff3333 # base08 - Red
color2 0x86b300 # base0B - Green
color3 0x73d8ff # base0A - Yellow
color4 0x41a6d9 # base0D - Blue
color5 0xf07178 # base0E - Magenta
color6 0x4dbf99 # base0C - Cyan
color7 0xffffff # base06 - White
color8 0x323232 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xb8e532 # base14 - Bright Green
color11 0xffc94a # base13 - Bright Yellow
color12 0x73d8ff # base16 - Bright Blue
color13 0xffa3aa # base17 - Bright Magenta
color14 0x7ff1cb # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
