# Scheme name: Paris
# Scheme system: base24
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xf7f1ff
foreground_bold    0xf9f4ff

# Cursor color
cursor             0xf7f1ff
cursor_foreground  0x1a0a30

# Background color
background         0x1a0a30

color0 0x1a0a30 # base00 - Black
color1 0xfc618d # base08 - Red
color2 0x7bd88f # base0B - Green
color3 0xfce566 # base0A - Yellow
color4 0xa3f3ff # base0D - Blue
color5 0xc4bdff # base0E - Magenta
color6 0xa3f3ff # base0C - Cyan
color7 0xf7f1ff # base05 - White
color8 0xc4bdff # base03 - Bright Black
color9 0xfc618d # base12 - Bright Red
color10 0x7bd88f # base14 - Bright Green
color11 0xfce566 # base13 - Bright Yellow
color12 0xa3f3ff # base16 - Bright Blue
color13 0xc4bdff # base17 - Bright Magenta
color14 0xa3f3ff # base15 - Bright Cyan
color15 0xf7f1ff # base07 - Bright White
