# Scheme name: Serendipity Morning
# Scheme system: base16
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x3f4363
foreground_bold    0x3f4363

# Cursor color
cursor             0x3f4363
cursor_foreground  0xf6f7fb

# Background color
background         0xf6f7fb

color0 0xf6f7fb # base00 - Black
color1 0xc25a4d # base08 - Red
color2 0x2f7aab # base0B - Green
color3 0x785fd0 # base0A - Yellow
color4 0x6288d8 # base0D - Blue
color5 0x785fd0 # base0E - Magenta
color6 0xe58678 # base0C - Cyan
color7 0x3f4363 # base05 - White
color8 0x6d7296 # base03 - Bright Black
color9 0xc25a4d # base08 - Bright Red
color10 0x2f7aab # base0B - Bright Green
color11 0x785fd0 # base0A - Bright Yellow
color12 0x6288d8 # base0D - Bright Blue
color13 0x785fd0 # base0E - Bright Magenta
color14 0xe58678 # base0C - Bright Cyan
color15 0xf6f7fb # base07 - Bright White
