# Scheme name: Miami
# Scheme system: base24
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xf7f1ff
foreground_bold    0xf9f4ff

# Cursor color
cursor             0xf7f1ff
cursor_foreground  0x000000

# Background color
background         0x000000

color0 0x000000 # base00 - Black
color1 0xff4c8b # base08 - Red
color2 0x7fffd4 # base0B - Green
color3 0xffd84c # base0A - Yellow
color4 0x00ffa8 # base0D - Blue
color5 0xd36cff # base0E - Magenta
color6 0x47cfff # base0C - Cyan
color7 0xf7f1ff # base05 - White
color8 0x69676c # base03 - Bright Black
color9 0xff4c8b # base12 - Bright Red
color10 0x7fffd4 # base14 - Bright Green
color11 0xffd84c # base13 - Bright Yellow
color12 0x00ffa8 # base16 - Bright Blue
color13 0xd36cff # base17 - Bright Magenta
color14 0x47cfff # base15 - Bright Cyan
color15 0xf7f1ff # base07 - Bright White
