# Scheme name: Sequoia Moonlight Light
# Scheme system: base16
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x282930
foreground_bold    0x282930

# Cursor color
cursor             0x282930
cursor_foreground  0xedeef2

# Background color
background         0xedeef2

color0 0xedeef2 # base00 - Black
color1 0xc94da8 # base08 - Red
color2 0x4a85d4 # base0B - Green
color3 0x6a6a78 # base0A - Yellow
color4 0x9a5fd9 # base0D - Blue
color5 0x6a6a78 # base0E - Magenta
color6 0xd9884a # base0C - Cyan
color7 0x282930 # base05 - White
color8 0x565760 # base03 - Bright Black
color9 0xc94da8 # base08 - Bright Red
color10 0x4a85d4 # base0B - Bright Green
color11 0x6a6a78 # base0A - Bright Yellow
color12 0x9a5fd9 # base0D - Bright Blue
color13 0x6a6a78 # base0E - Bright Magenta
color14 0xd9884a # base0C - Bright Cyan
color15 0x0f1014 # base07 - Bright White
