# Scheme name: Github Dark Colorblind
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xd1d7e0
foreground_bold    0xf0f6fc

# Cursor color
cursor             0xd1d7e0
cursor_foreground  0x0d1117

# Background color
background         0x0d1117

color0 0x0d1117 # base00 - Black
color1 0xf0883e # base08 - Red
color2 0x58a6ff # base0B - Green
color3 0xd29922 # base0A - Yellow
color4 0x58a6ff # base0D - Blue
color5 0xbe8fff # base0E - Magenta
color6 0x39c5cf # base0C - Cyan
color7 0xd1d7e0 # base05 - White
color8 0x656c76 # base03 - Bright Black
color9 0xf0883e # base08 - Bright Red
color10 0x58a6ff # base0B - Bright Green
color11 0xd29922 # base0A - Bright Yellow
color12 0x58a6ff # base0D - Bright Blue
color13 0xbe8fff # base0E - Bright Magenta
color14 0x39c5cf # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
