# Scheme name: Corduroy Dark
# Scheme system: base16
# Scheme author: taysatte (https://github.com/taysatte)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xddd8df
foreground_bold    0xddd8df

# Cursor color
cursor             0xddd8df
cursor_foreground  0x141016

# Background color
background         0x141016

color0 0x141016 # base00 - Black
color1 0xe8758a # base08 - Red
color2 0x55a0a0 # base0B - Green
color3 0xf0bd9c # base0A - Yellow
color4 0xdc92a3 # base0D - Blue
color5 0xcf98c4 # base0E - Magenta
color6 0xf0a89b # base0C - Cyan
color7 0xddd8df # base05 - White
color8 0x7d7082 # base03 - Bright Black
color9 0xe8758a # base08 - Bright Red
color10 0x55a0a0 # base0B - Bright Green
color11 0xf0bd9c # base0A - Bright Yellow
color12 0xdc92a3 # base0D - Bright Blue
color13 0xcf98c4 # base0E - Bright Magenta
color14 0xf0a89b # base0C - Bright Cyan
color15 0x5a5160 # base07 - Bright White
