# Scheme name: Gruvbox Dark
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x91816c
foreground_bold    0x978771

# Cursor color
cursor             0x978771
cursor_foreground  0x1d1d1d

# Background color
background         0x1d1d1d

color0 0x1d1d1d # base01 - Black
color1 0xbe0e17 # base08 - Red
color2 0x868715 # base0B - Green
color3 0x709585 # base0A - Yellow
color4 0x377274 # base0D - Blue
color5 0x9f4b73 # base0E - Magenta
color6 0x568d57 # base0C - Cyan
color7 0x978771 # base06 - White
color8 0x7f7060 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xa9b01d # base14 - Bright Green
color11 0xf7b024 # base13 - Bright Yellow
color12 0x709585 # base16 - Bright Blue
color13 0xc76f89 # base17 - Bright Magenta
color14 0x7db568 # base15 - Bright Cyan
color15 0xe5d3a2 # base07 - Bright White
