# Scheme name: Helsinki
# Scheme system: base24
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x544d40
foreground_bold    0x3b362d

# Cursor color
cursor             0x544d40
cursor_foreground  0xf8fafe

# Background color
background         0xf8fafe

color0 0xf8fafe # base00 - Black
color1 0x1faa9e # base08 - Red
color2 0x733d9a # base0B - Green
color3 0x2e70ad # base0A - Yellow
color4 0xb55a0f # base0D - Blue
color5 0x3e9d21 # base0E - Magenta
color6 0xbd4c3d # base0C - Cyan
color7 0x544d40 # base05 - White
color8 0xb0a999 # base03 - Bright Black
color9 0x009e91 # base12 - Bright Red
color10 0x5a1f8a # base14 - Bright Green
color11 0x0f5ba2 # base13 - Bright Yellow
color12 0xb23b00 # base16 - Bright Blue
color13 0x218c00 # base17 - Bright Magenta
color14 0xb32e1f # base15 - Bright Cyan
color15 0x000000 # base07 - Bright White
