# Scheme name: Github Dark
# Scheme system: tinted8
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-terminal

# Foreground color
foreground         0xf0f6fc
foreground_bold    0x

# Cursor color
cursor             0xf0f6fc
cursor_foreground  0x0d1117

# Background color
background         0x0d1117

color0 0x2f3742
color1 0x2f3742
color2 0x3fb950
color3 0xd29922
color4 0x58a6ff
color5 0xbe8fff
color6 0x39c5cf
color7 0xf0f6fc
color8 0x656c76
color9 0xffa198
color10 0x56d364
color11 0xe3b341
color12 0x79c0ff
color13 0xd2a8ff
color14 0x56d4dd
color15 0xffffff
