# Scheme name: Github Light High Contrast
# Scheme system: tinted8
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-terminal

# Foreground color
foreground         0x010409
foreground_bold    0x

# Cursor color
cursor             0x010409
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0x010409
color1 0x010409
color2 0x024c1a
color3 0x3f2200
color4 0x0349b4
color5 0x622cbc
color6 0x1b7c83
color7 0x59636e
color8 0x393f46
color9 0x86061d
color10 0x055d20
color11 0x4e2c00
color12 0x1168e3
color13 0x844ae7
color14 0x3192aa
color15 0x818b98
