# Scheme name: Github Dark Dimmed
# Scheme system: tinted8
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-terminal

# Foreground color
foreground         0xd1d7e0
foreground_bold    0x

# Cursor color
cursor             0xd1d7e0
cursor_foreground  0x212830

# Background color
background         0x212830

color0 0x2f3742
color1 0x2f3742
color2 0x57ab5a
color3 0xc69026
color4 0x539bf5
color5 0xb083f0
color6 0x39c5cf
color7 0xf0f6fc
color8 0x656c76
color9 0xff938a
color10 0x6bc46d
color11 0xdaaa3f
color12 0x6cb6ff
color13 0xdcbdfb
color14 0x56d4dd
color15 0xcdd9e5
