# Scheme name: Github Light
# Scheme system: tinted8
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-terminal

# Foreground color
foreground         0x1f2328
foreground_bold    0x

# Cursor color
cursor             0x1f2328
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0x1f2328
color1 0x1f2328
color2 0x116329
color3 0x4d2d00
color4 0x0969da
color5 0x8250df
color6 0x1b7c83
color7 0x59636e
color8 0x393f46
color9 0xa40e26
color10 0x1a7f37
color11 0x633c01
color12 0x218bff
color13 0xa475f9
color14 0x3192aa
color15 0x818b98
